.table {
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  padding-top: 80px;
}

.header {
  font-size: 18px;
  font-weight: bold; 
  height: 30px;
  width: 1000px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  border-bottom: 2px double #d7d7d7;
}

.table-currency {
  margin: auto;
  padding-right: 20px;
  width: 50%;
}

.table-price {
  margin: auto;
  padding-left: 20px;
  width: 50px;
}

.table-marketcap {
  margin: auto;
  width: 50px;
}

.table-change {
  margin: auto;
  padding-left: 20px;
  width: 60px;
}

.table-volume {
  margin: auto;
  width: 50px;
}
